<div id="bibtex_display"></div>

<div class="">
  <div class="group year" extra="ASC number"><h1 class="YEAR" id="PhD Thesis">PhD Thesis</h1>
  	  <a href="#top" style="display: inline"><em>(Top of the page)</em></a>
  	  <div style="padding-bottom:10px;"></div>
  	  <div class="sort journal" extra="DESC string">
      	<div class="templates"><div class="bibtexentry" style="display: block;">
    <ul> <li>
      <span class="">
        <a class="bibtexVar" href="{{ site.url }}/assets/papers/thesis.pdf" extra="BIBTEXKEY">
            <span class="title">Information leakage and steganography: detecting and blocking covert channels</span>,
        </a>
      </span>

      <div class="">
        <span class="author">Blasco, Jorge</span>
      </div>
      <div>
        <div class="">
        <span class="">Supervisors: Hernandez-Castro, Julio Cesar; Peris-Lopez, Pedro. </span>
        </div>
        <span class=""> Universidad Carlos III de Madrid. </span>
        <span class=""><span class="year">2012</span>.</span>

        <a class="bibtexVar" role="button" data-toggle="collapse" href="javascript:toggleDiv('bibblasco2012information');" aria-expanded="false" aria-controls="bibblasco2008csteg" extra="BIBTEXKEY">
		  [bib]
		</a>
      </div>
      <div class="bibtexVar collapse" id="bibblasco2012information" extra="BIBTEXKEY" style="display: none;">
		  <div class="well">
		    <pre><span class="bibtexraw noread">@phdthesis{blasco2012information,
          title={Information leakage and steganography: detecting and blocking covert channels},
          author={Blasco, Jorge},
          year={2012},
          school={Universidad Carlos III de Madrid}
        }</span></pre>
		  </div>

	  </div>
	  <div style="display:none"><span class="bibtextype">conference, workshop</span></div>
    </li></ul>
  </div></div>
      </div>
  </div>
</div>
